<div class="tab flexrow active" data-group="primary" data-tab="description">
    
        {{#unless isSkill}}
        <div class="item-properties">
            <div class="form-group">
                <label>{{localize "sjgurps4e.itemProperties.weight"}}</label>
                <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
            </div>
        <div class="form-group">
            <label>{{localize "sjgurps4e.itemProperties.cost"}}</label>
            <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/>
        </div>
        {{!-- Melee Weapon Skills List on Weapon Items--}}
        {{#unless isRangedWeapon}}
        <div class="form-group">
        <label>{{localize "sjgurps4e.itemProperties.skill"}} </label>
        <select name="data.weaponSkill">
        {{#select data.weaponSkill}}
        {{#each config.weaponSkill as |name skill|}}
        <option value="{{skill}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
        </select>
        </div>
        {{/unless}}
        {{!-- Ranged Weapon Skills List on Weapon Items--}}
        {{#if isRangedWeapon}}
        <div class="form-group">
        <label>{{localize "sjgurps4e.itemProperties.skill"}}</label>
        <select name="data.weaponSkill">
        {{#select data.weaponSkill}}
        {{#each config.rangedWeaponSkill as |name skill|}}
        <option value="{{skill}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
        </select>
        </div>
        {{/if}}
        </div>
        {{/unless}}

    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
</div>