<div class="tab flexrow active" data-group="primary" data-tab="description">
        {{#unless isSkill}}
        <div class="item-properties">
            <div class="form-group">
                <label>{{localize "sjgurps4e.itemProperties.weight"}}</label>
                <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
            </div>
            <div class="form-group">
                <label>{{localize "sjgurps4e.itemProperties.cost"}}</label>
                <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/>
            </div>
        </div>
       {{/unless}} 
    <div class = "mce-editor">
    {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>
</div>