<div class="form-group-stacked">

    <ol class="spell-parts">
    <li class="flexrow"><lable>{{localize "sjgurps4e.sheet.spellClass"}}</lable><select name="data.class">
        {{#select data.class}}
        {{#each config.spellClass as |name class|}}
        <option value="{{class}}"> {{localize name}}</option>
        {{/each}}
        {{/select}}
     </select>
     <label>{{localize "sjgurps4e.sheet.spellCollege"}}:</label>
     <select name="data.college">
        {{#select data.college}}
        {{#each config.spellCollege as |name college|}}
        <option value="{{college}}"> {{localize name}}</option>
        {{/each}}
        {{/select}}
     </select>
     </li>
     <li class="flexrow">
     <label>{{localize "sjgurps4e.sheet.castingTime"}}</label><input type="text" name="data.castingTime" value="{{data.castingTime}}" data-dtype="Number"/>
     <select name="data.castTimeUnit">
        {{#select data.castTimeUnit}}
        {{#each config.timeUints as |name unit|}}
        <option value="{{unit}}"> {{localize name}}</option>
        {{/each}}
        {{/select}}
     </select>
    <label>Duration</label><input type="text" name="data.duration" value="{{data.duration}}" data-dtype="Number"/>
    <select name="data.durationTimeUnit">
        {{#select data.durationTimeUnit}}
        {{#each config.timeUints as |name unit|}}
        <option value="{{unit}}"> {{localize name}}</option>
        {{/each}}
        {{/select}}
     </select>
     </li>
     <li class="flexrow">
    <label>{{localize "sjgurps4e.sheet.initCost"}}</label><input type="text" name="data.initialCost" value="{{data.initialCost}}"/>
    <label>{{localize "sjgurps4e.sheet.maintCost"}}</label><input type="text" name="data.maintCost" value="{{data.maintCost}}"/>
    </li>
    </ol>

    <div class="form-fields">
         <label class="checkbox">
         <input type="checkbox" name="data.hasDamage" {{checked data.hasDamage}}/> {{localize "sjgurps4e.itemProperties.spellDamage"}}?
         </label>
      </div>

   {{#if data.hasDamage}}
    <h4 class="common-weapon-header flexrow">
            <div class="header-item">
              {{localize "sjgurps4e.itemProperties.damage"}}
            </div>
            <div class="header-item">
                {{localize "sjgurps4e.itemProperties.modifier"}}
            </div>
            <div class="header-item">
                {{localize "sjgurps4e.itemProperties.damageType"}}
            </div>
            <a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
            {{!-- Add a plus button to make additional damage rows for variant damages --}}       
      </h4> 
        <ol class="damage-parts form-group-stacked">
           {{#each data.damage.parts as |part n|}}
           <li class="damage-part flexrow" data-damage-part="{{n}}">
              <select name="data.damage.parts.{{n}}.0" >
                {{#select (lookup this "0")}}
                    <option value="">{{ localize "sjgurps4e.none" }}</option>
                  {{#each ../config.damageFormula as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                  {{/each}}
                {{/select}}
              </select>
              <input type="text" name="data.damage.parts.{{n}}.1" value="{{lookup this "1"}}"/>
              <select name="data.damage.parts.{{n}}.2">
                  {{#select (lookup this "2")}}
                    <option value="">{{ localize "sjgurps4e.none" }}</option>
                    {{#each ../config.damageType as |name type|}}
                      <option value="{{type}}"> {{localize name}}</option>
                    {{/each}}
                  {{/select}}
              </select>
              <a class="delete-damage damage-control"><i class="fas fa-minus"></i></a>
            </li>
            {{/each}}
        </ol>
   {{/if}} 
</div>