<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="systems/sjgurps4e/img/GURPS_LOGO.png" class = "logo" title="logo" height = "72" width = "219"/>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        <div class="pointsbox" >
            {{!- toDo register a helper and fill this with the total of all points on the character --}}
            <div class = "pointvalue">Total Points {{data.totalPoints.value}}</div>
            {{!-- this is to be a input field --}}
            
            <div class = "pointvalue">
                 Unspent Points
                <input name="data.unspentPoints.value" type="text" placeholder="10" value = "{{data.unspentPoints.value}}" data-dtype="Number" />
            </div>
        </div>
    </header>
<div class="sheet-top">
       {{> "systems/sjgurps4e/templates/actors/parts/statblock.hbs"}}
       {{> "systems/sjgurps4e/templates/actors/parts/pools.hbs"}}
    <div class = "portrait">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="160"  width="160"/>
    </div>
    <div class="drBlock">
        <p>damage resistance</p>
    </div>

</div>
   {{!-- Character Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="core">{{ localize "sjgurps4e.core" }}</a>
        <a class="item" data-tab="inventory">{{ localize "sjgurps4e.Inventory" }}</a>
        <a class="item" data-tab="skills">{{ localize "sjgurps4e.skills" }}</a>
        <a class="item" data-tab="spells">{{ localize "sjgurps4e.spells" }}</a>
        <a class="item" data-tab="biography">{{ localize "sjgurps4e.Biography" }}</a>
    </nav>

    <section class="sheet-body">
        {{!-- core --}}
        <div class="tab core flexrow" data-group="primary" data-tab="core">
            {{> "systems/sjgurps4e/templates/actors/parts/core-actor.hbs"}}
        </div>
        {{!-- Inventory --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/sjgurps4e/templates/actors/parts/actor-inventory.hbs"}}
        </div>

        {{!-- skills --}}
        <div class="tab skills flexrow" data-group="primary" data-tab="skills">
            <p>things that are considered skills</p>
        </div>

        {{!-- spells --}}
        <div class="tab spells flexrow" data-group="primary" data-tab="spells">
            <p>things that are considered spells</p>
        </div>

        {{!--biography--}}
        <div class="tab biography flexrow" data-group="primary" data-tab="biography">
            <p>details about the character</p>
        </div>

    </section>


    </form>
