<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow"> 
        <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64">
        <div class="header-details flexrow">
      <h1 class = "charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'sjgurps4e.itemName'}}"/>
            </h1>
             <div class="item-subtitle">
              <h4 class="item-type">
               {{localize "sjgurps4e.equip"}}
              </h4>
            </div>
            <ul class = "summary flexrow">
            <li style="text-align: right;">
                {{localize "sjgurps4e.itemProperties.tl"}}:</li>
            <li style="color:black;" contenteditable="true" data-edit="data.itemTL"> 
              {{data.itemTL}}</li></ul>
        </div>
    </header>

    
    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "sjgurps4e.Description-Tab" }}</a>
        <a class="item" data-tab="details">{{ localize "sjgurps4e.Details" }}</a>
    </nav>
    <section class= "sheet-body">
    {{!-- Description-Tab --}}
    <div class="tab flexrow active" data-group="primary" data-tab="description">
        <div class="item-properties">
            <div class="form-group">
                <label>{{localize "sjgurps4e.itemProperties.weight"}}</label>
                <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
            </div>
            <div class="form-group">
                <label>{{localize "sjgurps4e.itemProperties.cost"}}</label>
                <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/>
            </div>
              <div class="form-group">
                <label>{{localize "sjgurps4e.itemProperties.location"}} </label>
                <select name="data.location">
                {{#select data.location}}
                {{#if (eq hitLocationScope "basic")}}
                  {{#each config.basicLocations as |name location|}}
                  <option value="{{location}}">{{localize name}}</option>
                  {{/each}}
                {{/if}}
                {{#if (eq hitLocationScope "intermediate")}}
                {{#each config.locations as |name location|}}
                <option value="{{location}}">{{localize name}}</option>
                {{/each}}
                {{/if}}
                {{#if (eq hitLocationScope "detailed")}}
                {{#each config.expandedLocations as |name location|}}
                <option value="{{location}}">{{localize name}}</option>
                {{/each}}
                {{/if}}
                {{/select}}
                </select>
              </div> 
        </div>
        <div class = "mce-editor">
          {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>
       
    </div>

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <div class="form-group stacked">
        <label>Armor and Shield Options</label>
        <div class="form-fields">
            <label class="checkbox">
            <input type="checkbox" name="data.hasDr" {{checked data.hasDr}}/> {{localize "sjgurps4e.dr"}}
            </label>
            <label class="checkbox">
                <input type="checkbox" name="data.hasDb" {{checked data.hasDb}}/> {{localize "sjgurps4e.db"}}
            </label>
            <label class="checkbox">
                <input type="checkbox" name="data.hasHp" {{checked data.hasHp}}/> {{localize "sjgurps4e.itemProperties.dur"}}
            </label>
            <label class="checkbox">
                <input type="checkbox" name="data.hasLc" {{checked data.hasLc}}/> {{localize "sjgurps4e.lc"}}
            </label>
            <label class="checkbox">
                <input type="checkbox" name="data.isEquipable" {{checked data.isEquipable}}/> {{localize "sjgurps4e.itemProperties.equipable"}}
            </label>
        </div>
      </div>

      {{#if data.hasDr}}
        <div class="form-group">
                <label>{{localize "sjgurps4e.dr"}}</label>
                <input type="text" name="data.dr" value="{{data.dr}}" data-dtype="Number"/>
        </div>
        <div class="armor-options form-fields">
          <label class="checkbox">
            <input type="checkbox" name="data.concealable" {{checked data.concealable}}/> {{localize "sjgurps4e.itemProperties.concealable"}} 
            </label>
          <label class="checkbox">
            <input type="checkbox" name="data.flexable" {{checked data.flexable}}/> {{localize "sjgurps4e.itemProperties.flexable"}}  
            </label>
            <label class="checkbox">
            <input type="checkbox" name="data.splitDR" {{checked data.splitDR}}/> {{localize "sjgurps4e.itemProperties.splitDR"}}  
            </label>
        </div>
        <div class="form-group">
                <label>{{localize "sjgurps4e.itemProperties.secondLocation"}} </label>
                <select name="data.secondLocation">
                {{#select data.secondLocation}}
                {{#each config.locations as |name location|}}
                <option value="{{location}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
                </select>
              </div> 
        {{#if data.splitDR}}
        <div class="form-group">
                <label>{{localize "sjgurps4e.itemProperties.crushingDR"}}</label>
                <input type="text" name="data.crushingDR" value="{{data.crushingDR}}" data-dtype="Number"/>
                <label>{{localize "sjgurps4e.itemProperties.piercingDR"}}</label>
                <input type="text" name="data.piercingDR" value="{{data.piercingDR}}" data-dtype="Number"/>
            </div>
            
        {{/if}}
      {{/if}}
      {{#if data.hasDb}}
        <div class="form-group">
                <label>{{localize "sjgurps4e.db"}}</label>
                <input type="text" name="data.db" value="{{data.db}}" data-dtype="Number"/>
        </div>
      {{/if}}
      {{#if data.hasHp}}
        <div class="form-group">
                <label>{{localize "sjgurps4e.itemHP"}}</label>
                <input type="text" name="data.itemHP" value="{{data.itemHP}}" data-dtype="Number"/>
        </div>
      {{/if}}
      {{#if data.hasLc}}
        <div class="form-group">
                <label>{{localize "sjgurps4e.lc"}}</label>
                <input type="text" name="data.lc" value="{{data.lc}}" data-dtype="Number"/>
        </div>
      {{/if}}

    </div>
</section>
</form>
