<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header flexrow"> 
        <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64">
        <div class="header-details flexrow">
      <h1 class = "charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'sjgurps4e.itemName'}}"/>
            </h1>
             <div class="item-subtitle">
              <h4 class="item-type">
               {{localize "sjgurps4e.charTemplate"}}
              </h4>
            </div>
        </div>
    </header>
<p> Hello Character Template</p>
<P> point cost here</P>
<p> attribute modifiers </p>
<p> secondary characteristics modifiers</p>
<p> traits drag and drop here</p>
<p> skills drag and drop here</p>



</form>