<div class="dr-panel">
    <div class ="core-header dr-header">
        {{localize "sjgurps4e.dr"}}
    </div>

    {{!-- Simple One Location DR Panel --}}
    {{#if (eq hitLocationScope "basic")}}
    <div class="single-location-dr panel-body flexcol">
        <div class="location">
        <div class="body">   
            {{localize "sjgurps4e.itemLocation.body"}}:
        </div> 
        <div>
            {{data.singleDR}}
        </div>
        </div>
    </div>
    {{/if}}
    {{!-- Intermediate 6 location DR Panel --}}
    {{#if (eq hitLocationScope "intermediate")}}
    <div class="six-location-dr panel-body"> 
        <ol class="item-list">
            <li>{{localize "sjgurps4e.itemLocation.head"}} : {{lookup data.intermediateDR 0}}</li>
            <li>{{localize "sjgurps4e.itemLocation.body"}} : {{lookup data.intermediateDR 1}}</li>
            <li>{{localize "sjgurps4e.itemLocation.arms"}} : {{lookup data.intermediateDR 2}}</li>
            <li>{{localize "sjgurps4e.itemLocation.hands"}} : {{lookup data.intermediateDR 3}}</li>
            <li>{{localize "sjgurps4e.itemLocation.legs"}} : {{lookup data.intermediateDR 4}}</li>
            <li>{{localize "sjgurps4e.itemLocation.feet"}} : {{lookup data.intermediateDR 5}}</li>
        </ol>
    </div>
    {{/if}}
    {{!-- Detailed 14 location DR Panel  --}}
    {{#if (eq hitLocationScope "detailed")}}
    <div class="fourteen-location-dr panel-body flexrow"> 
        <ol class="item-list">
            <li>{{localize "sjgurps4e.itemLocation.face"}}  : {{lookup data.detailedDR 0}}</li>
            <li>{{localize "sjgurps4e.itemLocation.eyes"}}  : {{lookup data.detailedDR 1}}</li>
            <li>{{localize "sjgurps4e.itemLocation.skull"}}  : {{lookup data.detailedDR 2}}</li>
            <li>{{localize "sjgurps4e.itemLocation.neck"}}  : {{lookup data.detailedDR 3}}</li>
            <li>{{localize "sjgurps4e.itemLocation.torso"}}  : {{lookup data.detailedDR 4}}</li>
            <li>{{localize "sjgurps4e.itemLocation.groin"}}  : {{lookup data.detailedDR 5}}</li>
        </ol>
        <ol class="item-list">    
            <li>{{localize "sjgurps4e.itemLocation.rArm"}}  : {{lookup data.detailedDR 6}}</li>
            <li>{{localize "sjgurps4e.itemLocation.lArm"}}  : {{lookup data.detailedDR 7}}</li>
            <li>{{localize "sjgurps4e.itemLocation.rHand"}} : {{lookup data.detailedDR 8}}</li>
            <li>{{localize "sjgurps4e.itemLocation.lHand"}}  : {{lookup data.detailedDR 9}}</li>
            <li>{{localize "sjgurps4e.itemLocation.rLeg"}}  : {{lookup data.detailedDR 10}}</li>
            <li>{{localize "sjgurps4e.itemLocation.lLeg"}}  : {{lookup data.detailedDR 11}}</li>
            <li>{{localize "sjgurps4e.itemLocation.rFoot"}}  : {{lookup data.detailedDR 12}}</li>
            <li>{{localize "sjgurps4e.itemLocation.lFoot"}}  : {{lookup data.detailedDR 13}}</li>
        </ol>
    </div>
    {{/if}}
</div>