<ol class="inventory-list">

    <li class="spells inventory-header flexrow">  
    <h2 class="item-name flexrow">
    {{localize "sjgurps4e.spells"}}
    </h2>
    <div class="item-topic">{{localize "sjgurps4e.sheet.s-dif"}}</div>
    <div class="item-topic">{{localize "sjgurps4e.sheet.skillLevel"}}</div>
    <div class="item-topic">{{localize "sjgurps4e.effectiveSkill"}}</div>
    <div class="item-topic">{{localize "sjgurps4e.pointCost"}}</div>
    <div class = "item-controls flexrow">
    <a class="item-control item-create" data-type="skill" data-spell="spell" title="{{localize "sjgurps4e.sheet.addSpell"}}" >
        <i class="fas fa-plus"></i>
    </a>
     </div>
    </li>
    <ol class="item-list">
    <section class="spell-list">
       {{#each spells as |spell id|}}
    <li class="item flexrow" data-itemid = "{{_id}}">
       {{> "systems/sjgurps4e/templates/actors/parts/skill-card.hbs" spell}}
        <div class="item-controls flexrow">
        {{#unless data.isFav}}
        <a class="item-control item-favorite inline-edit">
            <i class="far fa-bookmark" data-field="isFav" data-isFav="true"></i>
        </a>
        {{/unless}}
        {{#if data.isFav}}
        <a class="item-control item-favorite inline-edit" data-field="isFav" data-isFav="false">
            <i class="fas fa-bookmark"></i>
        </a>
        {{/if}}
        <a class="item-control item-edit">
            <i class="fas fa-edit"></i>
        </a>
        <a class="item-control item-delete">
            <i class="fas fa-trash"></i>
        </a>
        </div>
    </li>
       {{/each}}
    </section>
    </ol>
</ol>