<div class="coreItems">
    <div class="coreRollItems">
       {{> "systems/sjgurps4e/templates/actors/parts/favorites.hbs"}}
    </div>
    <div class="coreInfoItems">
        <div class="baseDamage">
            <div class ="core-group-header">{{localize "sjgurps4e.sheet.damage"}}</div>
            <h4>Thr: {{data.damageThr}}, Sw: {{data.damageSw}}
            </h4>
        </div>

        <div class = "activeDef">
            <div class ="core-group-header">
                {{localize "sjgurps4e.sheet.actDefHeader"}}
            </div>
            {{> "systems/sjgurps4e/templates/actors/parts/active-defense.hbs"}}
        </div>
        <div class = "encumbrance">
            <div class ="core-group-header">
                {{localize "sjgurps4e.sheet.encHeader"}}
            </div>
            {{> "systems/sjgurps4e/templates/actors/parts/encumbrance.hbs"}}
        </div>
        
    </div>
</div>

