<div class="coreItems">
    <div class="coreRollItems">
        <div class = "favorites-header">favorites</div>
        <div class = "favweapons">{{localize "sjgurps4e.sheet.weapons"}}  {{localize "sjgurps4e.sheet.damage"}}: Thr: {{data.damageThr}}, Sw: {{data.damageSw}}</div>
        <div class = "favequip">equipment</div>
        <div class = "favskills">skills</div>
        <div class = "favspells">spells</div>
    </div>
    <div class="coreInfoItems">
        <div class = "activeDef">
            <div class ="core-group-header">
                {{localize "sjgurps4e.sheet.actDefHeader"}}
            </div>
            {{> "systems/sjgurps4e/templates/actors/parts/active-defense.hbs"}}
        </div>
        <div class = "encumbrance">
            <div class ="core-group-header">
                {{localize "sjgurps4e.sheet.encHeader"}}
            </div>
            {{> "systems/sjgurps4e/templates/actors/parts/encumbrance.hbs"}}
        </div>
        <div class = "reactions">reaction mods</div>
    </div>
</div>

