
    <div class="equip-info item-name">
        <img id="icon" src="{{img}}" height = "24px">
        <a class="item-detail">{{name}}</a>
    </div>
    <div class ="item-topic">
        {{#localizeData "itemLocation" data.location }}{{/localizeData}}</div>
        <div class ="item-topic">{{data.dr}}</div>
        <div class ="item-topic">{{data.weight}}</div>
        <div class ="item-topic">{{data.cost}}</div>
        



