
    <div class="skill-info skill-name item-name">
        <img class="rollable" data-source="skill" data-label="{{name}}" data-roll="3d6" id="icon" src="{{img}}" height = "24px">
        <a class="item-detail" >{{name}}</a>
    </div>
    <div class="item-topic item-diff skill-stat">
        {{data.stat}}/{{data.difficulty}}
    </div>
    <div class="item-topic skill-level"> 
        <input class="inline-edit" data-field="data.level" name="data.level" type="text" value = "{{data.level}}" placeholder="" data-dtype="Number"/>   
    </div>
    <div class="item-topic effective-level">
        {{data.effective}}
    </div> 
    <div class="item-topic point-cost"> 
        {{data.points}}
    </div>
    
