<div class="weapon-card item" data-itemid="{{_id}}">
    <div class="weapon-info weapon-name">
        <p><img id="icon" src="{{img}}" height = "24px">
        <a class="item-detail">{{name}}</a></p>
    </div>
    <div class="weapon-info weapon-stats">
        <div class="skillToRoll">
           <div class="form-group">
                <label>{{localize "sjgurps4e.itemProperties.skill"}}</label>
                <select name="data.skillUsed">
                {{#select data.skillUsed}}
                {{#each @root.actor.data.ownedSkillList as |skill name|}}
                <option value="{{name}}">{{skill}}</option>
                {{/each}}
                {{/select}}
                </select>
            </div>
            <div class="form-group">
                <input name="data.skillMod" type="text" placeholder="0" value ="{{data.skillMod}}" data-dtype="Number" />
            </div>
       </div>
        <p> 
        Skill: {{data.skillUsed}}
        Weight: {{data.weight}}
        Cost: {{data.cost}}
        <a class="item-edit">
            <i class="fas fa-edit"></i>
        </a>
        <a class="item-delete">
            <i class="fas fa-trash"></i>
        </a>
        </p>
</div>


